@media screen and (max-width: 480px)  {
  html {
    min-width: 0px;
    width: 57%;
    position: absolute;
    background-image: url(/assets/images/bg-pattern-top-desktop.svg);
    background-position: left top;
    background-repeat: no-repeat;
    /* background-size: 350px; */
    overflow-x: hidden;
  }

  body {
    width: 100%;
    position: relative;
  }

  #about {
    /* background-color: red; */
    width: 100%;
    float: left;
    text-align: center;
    padding-left: 0px;
    margin-top: 3%;

  }

  h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 36px;
    width: 130%;
    letter-spacing: -2px;
    line-height: 35px;
    margin-left: 9%;
  }

  #about p {
    font-size: 13px;
    line-height: 25px;
    font-weight: 600;
    width: 140%;
    text-align: center;
    margin-right: 50%;
    margin-top: 24px;
    margin-bottom: 15%;
  }
  #ratings {
    width: 155%;
    margin-top: 12px;
    float: left;
    text-align: center;
    margin: 0px;
  }

  .rate-1,
  .rate-2,
  .rate-3 {
  
    width: 135%;
    margin-left: 5%;
   
  }
  #stars {
    display: inline-block;
    margin-left: 10px;
  }
  
  #stars img {
    width: 16%;
   
  }

  #review {
    max-width: 200%;
    height: auto;
    background-color: hsl(300, 43%, 22%);
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 8px; 
    text-align: left;
  
    
  }
  .review-1, .review-2, .review-3 {
    width: 130%;
    margin-left: 9%;
    margin-bottom: 10px;
  }

  .review-1{
    margin-top: 30px;
  }




  #info p:nth-child(3n) {
    
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
    line-height: 22px;
    padding: 5px;
    padding-bottom: 20px;
  
  } 

  footer{
      display: none;
  }
}
