html{
    background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

#main {
    width: 90%;
}

#about {
    width: 25%;
    float: left;
    padding-top: 40px;
    padding-left: 30px;
    margin-left: 10%;
    margin-top: 3%;
    
  
}

#ratings{
    width: 32%;
    float: left;
    margin:120px;
    

}

h1{
   
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    padding-bottom: -2px;
    margin-bottom: 1px;
    letter-spacing: -2px;
    

}


p{
   color: hsl(303, 10%, 53%);
   font-family: 'Spartan', sans-serif;
   font-size: 13px;
   line-height: 20px;
   width: 400px;
   font-weight: 600;
 
}

#rating {
    
    background-color:hsl(300, 24%, 96%);
    border-radius: 8px; 
     padding:12px;  
     margin-bottom: 12px; 
     

}

#rating p{

    margin: 0px;
    display: inline-block;
   margin-left: 20px;
   font-family: 'Spartan', sans-serif;
   color: hsl(300, 43%, 22%);
   width: 200px;
   font-weight: 700;
   font-size: 12px;
    
}

#stars {
    display: inline-block;
    margin-left: 10px;
 
}

img {
    width: 14%;
    
}

.rate-1{
    margin-left:10%;
    margin-right: -10%;
}
.rate-2{
    margin-left:20%;
    margin-right: -20%;
}
.rate-3{
    margin-left:30%;
    margin-right: -30%;
}






















