html{
    background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

#about {
    width: 25%;
    float: left;
    padding-top: 40px;
    padding-left: 30px;
  
}

h1{
    /* width: 30%; */
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    padding-bottom: -2px;
    margin-bottom: 1px;
    letter-spacing: -2px;
}

p{
   color: hsl(303, 10%, 53%);
   font-family: 'Spartan', sans-serif;
   font-size: 13px;
   line-height: 20px;
   width: 400px;
   font-weight: 400;
 
}

#ratings {
  top: 20px;
}